In [15]:
Nama= "Widya Wati"
Npm= "18111280"
MK= "Artificial Intelligence"
Tugas= "Tugas 3"

print (Nama);
print (Npm);
print (MK, Tugas);

Widya Wati
18111280
Artificial Intelligence Tugas 3

In [16]:
print ("Selamat Datang di Vending Machine Phython")

Selamat Datang di Vending Machine Phython

In [17]:
#Masukkan uang
nominal_uang = (int(input("Silahkan masukkan uang anda: Rp.")))

Silahkan masukkan uang anda: Rp.100000

In [18]:
#panggil data list harga
import pandas as pd
import csv
url = "https://docs.google.com/spreadsheets/d/1Wb4-fUhj0Tc0cjic6ESAqJa7vunASaqk1BZt3wWDAto/edit?usp=sharing"
data = pd.read_csv(url, sep= '\t')

data.head(11)

   <!DOCTYPE html><html lang="en-US"><head><script nonce="y+dDyB7RMfj0l4ENyFAMfA">var DOCS_timing={}; DOCS_timing['pls']=new Date().getTime();</script><meta property="og:title" content="DaftarMinuman"><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://docs.google.com/spreadsheets/d/1Wb4-fUhj0Tc0cjic6ESAqJa7vunASaqk1BZt3wWDAto/edit?usp=sharing&amp;usp=embed_facebook"><meta property="og:image" content="https://lh6.googleusercontent.com/xpDz-oDnxd4C2BEajJl3ccuIlcWV8Z5B_xu7tVgFf_lJX95KWkbSYC4NwemzjUZtDPeEIvpxSeYRvA=w1200-h630-p"><meta property="og:image:width" content="1200"><meta property="og:image:height" content="630"><meta property="og:description" content="Sheet1
0                                No, Item,Harga,Berat
1                                1,Milshake,15000,200
2                                     2,Coke,7000,100
3                                3,GreenTea,12000,200
4                               4,Moccacino,20000,100
5                                    5,Boba,15000,200
6                                 6,LemonTea,7000,200
7                                    7,Coffe,7000,100
8                                  8,ThaiTea,5000,200
9                                 9,IceChoco,5000,200
10  10,IsotonicDrink,5000,200"><meta name="google"...

In [19]:
#Membuat variabel untuk 10 produk
produk_1, harga_produk_1 = "Milkshake", 15000
produk_2, harga_produk_2 = "Coke", 7000
produk_3, harga_produk_3 = "GreenTea", 15000
produk_4, harga_produk_4 = "Moccacino", 20000
produk_5, harga_produk_5 = "Boba", 15000
produk_6, harga_produk_6 = "LemonTea", 7000
produk_7, harga_produk_7 = "Coffe", 7000
produk_8, harga_produk_8 = "ThaiTea", 5000
produk_9, harga_produk_9 = "IceChoco", 5000
produk_10, harga_produk_10 = "IsotonicDrink", 5000

In [20]:
#Menanyakan produk apa yang akan dipilih
uang_kembalian = 0;
pilihan = input("Anda akan membeli apa? ")

Anda akan membeli apa? Coke

In [21]:
#ROLE: COKE
import numpy as np

produk_arr=np.array([[1,2,3,4,5,6,7,8,9,10],[15000,7000,12000,20000,15000,7000,7000,5000,5000,5000]])

print("Harga dari 1 cup adalah", produk_arr[1,1])

Harga dari 1 cup adalah 7000

In [22]:
#ROLE: COKE
jumlah_cup = (int(input("Silahkan masukkan berapa cup anda akan memesan: ")))
total = produk_arr[1,1]*jumlah_cup

print("Anda memesan sebanyak", jumlah_cup, "Selanjutnya akan kami total", total)

Silahkan masukkan berapa cup anda akan memesan: 5
Anda memesan sebanyak 5 Selanjutnya akan kami total 35000

In [28]:
#ROLE: COKE
print("Berikut adalah Total Pesanan Anda")

if pilihan == "Coke" or pilihan == "coke":
  print("Pilihan anda adalah", jumlah_cup, "cup",produk_2, ". Harga", total, "Rupiah")
  uang_kembalian = (nominal_uang - total)
  print("Terimakasih telah berkunjung. Unag kembalian anda adalah", uang_kembalian)
else:
  print("Maaf Pilihan anda tidak ada pada Menu. Silahkan coba lagi :)")

Berikut adalah Total Pesanan Anda
Pilihan anda adalah 5 cup Coke . Harga 35000 Rupiah
Terimakasih telah berkunjung. Unag kembalian anda adalah 65000